body {
  background: linear-gradient(135deg, #0D1B2A, #1B263B, #415A77, #778DA9, #E0E1DD);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

#chat-container {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.33);
}

#chat-inner-container {
  position: relative;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.33) rgba(255, 255, 255, 0.1);
}

#chat-inner-container::-webkit-scrollbar {
  width: 8px;
}

#chat-inner-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

#chat-inner-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.33);
  border-radius: 4px;
}

#chat {
  max-height: 75vh;
  max-width: 50vw;
  white-space: pre-wrap;
  font-size: 16px;
  color: #E0E1DD;
  height: 75%;
}
