body {
  background: linear-gradient(135deg, #0d1b2a, #1b263b, #415a77, #778da9, #e0e1dd);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

#page-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 1rem;
  width: 85vw;
  max-width: 900px;
}

#button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #e0e1dd;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.33);
  padding: 1rem;
}

button {
  background-color: #778da9;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.3s;
}

button:hover {
  background-color: #415a77;
}

#chat-container,
#response-container {
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5 5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.33);
  padding: 1rem;
  color: #e0e1dd;
  overflow: hidden;
  height: calc(75% - 1rem);
  max-height: 75vh;
}

#chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chat-inner-container {
  position: relative;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.33) rgba(255, 255, 255, 0.1);
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

#chat-inner-container::-webkit-scrollbar {
  width: 8px;
}
#chat-inner-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

#chat-inner-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.33);
  border-radius: 4px;
}

#chat {
  white-space: pre-wrap;
  font-size: 16px;
  color: #e0e1dd;
  padding: 1rem;
  width: 100%;
}

#openai-response {
  white-space: pre-wrap;
  font-size: 16px;
  padding: 1rem;
  overflow-y: auto;
  height: 300px; /* Adjust the height as needed */
}

/* Customize the scrollbar */
#openai-response::-webkit-scrollbar {
  width: 10px;
}

#openai-response::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

#openai-response::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

#openai-response::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
